.fontTiny {
  font-size: 70% !important; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  background-color: #140505;
  color: #555;
  text-rendering: optimizeLegibility;
  overflow-x: hidden; }

body {
  overflow-x: hidden; }

hr {
  border: 0;
  height: 1px;
  color: #cc9257;
  margin: 40px 0;
  background-image: -moz-linear-gradient(left, rgba(204, 146, 87, 0), rgba(204, 146, 87, 0.8), rgba(204, 146, 87, 0));
  background-image: -ms-linear-gradient(left, rgba(204, 146, 87, 0), rgba(204, 146, 87, 0.8), rgba(204, 146, 87, 0));
  background-image: -o-linear-gradient(left, rgba(204, 146, 87, 0), rgba(204, 146, 87, 0.8), rgba(204, 146, 87, 0));
  background-image: -webkit-linear-gradient(left, rgba(204, 146, 87, 0), rgba(204, 146, 87, 0.8), rgba(204, 146, 87, 0)); }

hr:last-child {
  visibility: hidden;
  opacity: 0; }

@media only screen and (max-width: 64em) {
  font-size: 56.25%; }

@media only screen and (max-width: 48em) {
  font-size: 50%; }

@media only screen and (min-width: 112.5em) {
  font-size: 75%; }

li {
  list-style: none;
  text-decoration: none; }

a {
  color: inherit; }
  a:link, a:visited {
    text-decoration: none; }
  a:hover, a:active {
    text-decoration: underline;
    outline: none; }

body {
  font-family: "lucinda", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 2rem;
  color: #cc9257; }

@font-face {
  font-family: "entebbe";
  src: url(css/fonts/entebbe.ttf) format("truetype"); }

@font-face {
  font-family: "BernardoModa";
  src: url(css/fonts/BernardoModa.ttf) format("trutype"); }

.pageTitle {
  width: 30%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 32px;
  font-weight: 150;
  color: #fff; }

.secondaryText {
  position: absolute;
  top: 175px;
  left: 25px;
  line-height: 2; }
  .secondaryText__lessonSpecifics {
    position: absolute;
    top: 15px;
    left: 15px; }

.play {
  color: #ddd;
  width: 50px;
  height: 50px; }

.btnGold {
  background-color: #a37446;
  color: black;
  padding: 5px 8px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 7px;
  transition: opacity 2s, visibility 2s; }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    background-color: orangered;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 1rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 1rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 1rem) / 3) + 1rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 1rem) / 4) + 1rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 1rem) / 4) + 2 * 1rem); }

header {
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh; }

.mainNavContainer {
  width: 100%;
  left: 20%;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  justify-content: right;
  position: relative;
  border: 1px solid #a37446;
  overflow: hidden; }
  @media only screen and (max-width: 64em) {
    .mainNavContainer {
      left: 10%; } }
  @media only screen and (max-width: 48em) {
    .mainNavContainer {
      left: 0; } }
  .mainNavContainer__mainNav {
    display: -webkit-flex;
    /* Safari */
    display: flex;
    width: 100%;
    justify-content: stretch; }
    @media only screen and (max-width: 48em) {
      .mainNavContainer__mainNav {
        visibility: hidden;
        opacitey: 0; } }
    .mainNavContainer__mainNav--button {
      background-image: url("../img/buttonNatural.jpg");
      background-size: cover;
      width: 100%;
      min-height: 60px;
      text-align: center;
      display: -webkit-flex;
      /* Safari */
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-decoration: none;
      font-family: Script, 'French Script MT';
      font-size: 30px;
      font-weight: 700;
      color: #a37446;
      padding: 25px 15px 15px 15px;
      line-height: .8; }

.mobileNavContainer {
  position: fixed;
  top: 50px;
  left: 15%;
  z-index: 10; }

.secondaryNav {
  position: absolute;
  color: #a37446;
  top: 15px;
  right: 50px;
  font-size: 14px; }
  @media only screen and (max-width: 48em) {
    .secondaryNav {
      right: auto;
      left: 10px; } }

.recordingNav__main {
  color: #a37446;
  position: absolute;
  bottom: 15px;
  font-size: 75%; }
  .recordingNav__main li {
    margin-left: 25px; }
  .recordingNav__main--pauseButton {
    visibility: hidden;
    opacity: 0;
    margin-left: 15px;
    background-color: #a37446;
    color: black;
    padding: 5px 8px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 7px;
    transition: opacity 2s, visibility 2s; }
    .recordingNav__main--pauseButton:active {
      outline: none; }

.recordingNav__student {
  font-style: italic;
  font-size: 90%;
  font-weight: 400;
  line-height: 2.3;
  margin-left: 15px; }

.mainContainer {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  width: 60%; }
  @media only screen and (max-width: 48em) {
    .mainContainer {
      display: none; } }
  @media only screen and (max-width: 64em) {
    .mainContainer {
      width: 80%; } }
  @media only screen and (max-width: 48em) {
    .mainContainer {
      width: 100%; } }

.heroContainer {
  width: 100%;
  left: 20%;
  background-image: url("../img/pianoHandsNoWordsAdobe.jpg");
  background-size: cover;
  min-height: 165px;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  position: relative;
  border: 1px solid #a37446;
  padding: 10px 10px 5px 10px; }
  @media only screen and (max-width: 64em) {
    .heroContainer {
      left: 10%; } }
  @media only screen and (max-width: 48em) {
    .heroContainer {
      left: 0; } }
  .heroContainer__mainTitle {
    font-size: 35px;
    font-family: 'entebbe', 'verdana';
    color: #000;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; }
  .heroContainer__mobileNav--icon {
    font-size: 35px; }
  .heroContainer__testimonials {
    position: absolute;
    top: 105px;
    right: 10px; }
    .heroContainer__testimonials > ul > li {
      line-height: 1.2;
      letter-spacing: 1px; }
    .heroContainer__testimonials--person {
      font-size: 18px; }

.hero__bottomContainer--index {
  width: 100%;
  left: 20%;
  background-image: url("../img/indexBackground.jpg");
  background-size: cover;
  min-height: 450px;
  position: relative;
  border: 1px solid #a37446;
  margin-bottom: 300px; }
  @media only screen and (max-width: 64em) {
    .hero__bottomContainer--index {
      left: 10%; } }
  @media only screen and (max-width: 48em) {
    .hero__bottomContainer--index {
      left: 0; } }

.hero__bottomContainer--testimonialSyllabusRecording {
  margin-left: 15px;
  font-size: 80%; }
  .hero__bottomContainer--testimonialSyllabusRecording-testimonial {
    width: 400px; }
    .hero__bottomContainer--testimonialSyllabusRecording-testimonial > p {
      margin-bottom: 5px;
      color: #fdecbf; }
    .hero__bottomContainer--testimonialSyllabusRecording-testimonial > a {
      font-style: italic; }
  .hero__bottomContainer--testimonialSyllabusRecording > :last-child {
    display: flex; }
    .hero__bottomContainer--testimonialSyllabusRecording > :last-child > button {
      margin-right: 10px;
      margin-top: 7px; }

.hero__bottomContainer--location {
  width: 100%;
  left: 20%;
  background-image: url("../img/locationBackground.jpg");
  background-size: cover;
  min-height: 450px;
  position: relative;
  margin-bottom: 300px;
  border: 1px solid #a37446; }
  @media only screen and (max-width: 64em) {
    .hero__bottomContainer--location {
      left: 10%; } }
  @media only screen and (max-width: 48em) {
    .hero__bottomContainer--location {
      left: 0; } }
  .hero__bottomContainer--location-secondaryText {
    color: #cc9257;
    margin-top: -100px;
    width: 40%;
    font-size: 70%;
    font-weight: 400;
    line-height: 1.2; }

.hero__bottomContainer--about {
  width: 100%;
  left: 20%;
  background-image: url("../img/aboutBackground.jpg");
  background-size: cover;
  min-height: 450px;
  position: relative;
  margin-bottom: 300px;
  border: 1px solid #a37446; }
  @media only screen and (max-width: 64em) {
    .hero__bottomContainer--about {
      left: 10%; } }
  @media only screen and (max-width: 48em) {
    .hero__bottomContainer--about {
      left: 0; } }
  .hero__bottomContainer--about-secondaryText {
    color: #cc9257;
    margin-top: -95px;
    width: 50%;
    font-size: 70%;
    font-weight: 400;
    line-height: 1.2; }

.hero__bottomContainer--contact {
  width: 100%;
  left: 20%;
  background-image: url("../img/contactBackground.jpg");
  background-size: cover;
  min-height: 450px;
  position: relative;
  margin-bottom: 300px;
  border: 1px solid #a37446; }
  @media only screen and (max-width: 64em) {
    .hero__bottomContainer--contact {
      left: 10%; } }
  @media only screen and (max-width: 48em) {
    .hero__bottomContainer--contact {
      left: 0; } }
  .hero__bottomContainer--contact-secondaryText {
    padding-top: 80px;
    color: #cc9257;
    width: 60%;
    font-size: 90%;
    font-weight: 400;
    line-height: 2.3;
    margin-left: 15px; }

.hero__bottomContainer--yinTestimonial {
  width: 100%;
  left: 20%;
  background-image: url("../img/yinTestimonialBackground.jpg");
  background-size: cover;
  min-height: 450px;
  position: relative;
  margin-bottom: 300px;
  border: 1px solid #a37446; }
  @media only screen and (max-width: 64em) {
    .hero__bottomContainer--yinTestimonial {
      left: 10%; } }
  @media only screen and (max-width: 48em) {
    .hero__bottomContainer--yinTestimonial {
      left: 0; } }

.hero__bottomContainer--heidiTestimonial {
  width: 100%;
  left: 20%;
  background-image: url("../img/heidiTestimonialBackground.jpg");
  background-size: cover;
  min-height: 450px;
  position: relative;
  margin-bottom: 300px;
  border: 1px solid #a37446; }
  @media only screen and (max-width: 64em) {
    .hero__bottomContainer--heidiTestimonial {
      left: 10%; } }
  @media only screen and (max-width: 48em) {
    .hero__bottomContainer--heidiTestimonial {
      left: 0; } }

.hero__bottomContainer--lessonSpecifics {
  width: 100%;
  left: 20%;
  background-image: url("../img/pianoBackground.jpg");
  background-size: cover;
  min-height: 450px;
  margin-bottom: 300px;
  position: relative;
  border: 1px solid #a37446; }
  @media only screen and (max-width: 64em) {
    .hero__bottomContainer--lessonSpecifics {
      left: 10%; } }
  @media only screen and (max-width: 48em) {
    .hero__bottomContainer--lessonSpecifics {
      left: 0; } }
  .hero__bottomContainer--lessonSpecifics-headerText {
    top: 20px;
    font-family: Script, 'French Script MT', Verdana, sans-serif;
    color: #fdecbf;
    margin-bottom: -35px; }
  .hero__bottomContainer--lessonSpecifics-secondaryText {
    color: #cc9257;
    width: 60%;
    font-size: 70%;
    font-weight: 400;
    line-height: 1.2; }

.hero__bottomContainer--policies {
  width: 100%;
  left: 20%;
  background-image: url("../img/policiesBackground.jpg");
  background-size: cover;
  min-height: 450px;
  border: 1px solid #a37446;
  position: relative;
  margin-bottom: 300px;
  left: 20%; }
  @media only screen and (max-width: 64em) {
    .hero__bottomContainer--policies {
      left: 10%; } }
  @media only screen and (max-width: 48em) {
    .hero__bottomContainer--policies {
      left: 0; } }

.hero__bottomContainer--practice {
  width: 100%;
  left: 20%;
  background-image: url("../img/practiceBackground.jpg");
  background-size: cover;
  min-height: 450px;
  position: relative;
  margin-bottom: 300px;
  padding-top: 90px;
  border: 1px solid #a37446; }
  @media only screen and (max-width: 64em) {
    .hero__bottomContainer--practice {
      left: 10%; } }
  @media only screen and (max-width: 48em) {
    .hero__bottomContainer--practice {
      left: 0; } }
  .hero__bottomContainer--practice-secondaryText {
    color: #cc9257;
    width: 60%;
    font-size: 70%;
    font-weight: 400;
    line-height: 1.2; }

.hero__bottomContainer--recitals {
  width: 100%;
  left: 20%;
  background-image: url("../img/recitalsBackground.jpg");
  background-size: cover;
  min-height: 450px;
  position: relative;
  margin-bottom: 300px;
  padding-top: 90px;
  border: 1px solid #a37446; }
  @media only screen and (max-width: 64em) {
    .hero__bottomContainer--recitals {
      left: 10%; } }
  @media only screen and (max-width: 48em) {
    .hero__bottomContainer--recitals {
      left: 0; } }
  .hero__bottomContainer--recitals-secondaryText {
    color: #cc9257;
    margin: 7px;
    width: 60%;
    font-size: 80%;
    font-weight: 500;
    line-height: 1.2; }

.hero__bottomContainer--syllabus {
  width: 100%;
  left: 20%;
  background-image: url("../img/syllabusBackground.jpg");
  background-size: cover;
  min-height: 450px;
  position: relative;
  margin-bottom: 300px;
  padding-top: 90px;
  border: 1px solid #a37446; }
  @media only screen and (max-width: 64em) {
    .hero__bottomContainer--syllabus {
      left: 10%; } }
  @media only screen and (max-width: 48em) {
    .hero__bottomContainer--syllabus {
      left: 0; } }
  .hero__bottomContainer--syllabus-secondaryText {
    color: #cc9257;
    margin: 5px;
    width: 60%;
    font-size: 70%;
    font-weight: 400;
    line-height: 1.2; }

.hero__bottomContainer--payment {
  width: 100%;
  left: 20%;
  background-image: url("../img/paymentBackground.jpg");
  background-size: cover;
  min-height: 450px;
  position: relative;
  margin-bottom: 300px;
  padding-top: 90px;
  border: 1px solid #a37446; }
  @media only screen and (max-width: 64em) {
    .hero__bottomContainer--payment {
      left: 10%; } }
  @media only screen and (max-width: 48em) {
    .hero__bottomContainer--payment {
      left: 0; } }
  .hero__bottomContainer--payment-secondaryText {
    color: #cc9257;
    width: 60%;
    font-size: 75%;
    font-weight: 400;
    font-style: italic;
    line-height: 1.2; }
    .hero__bottomContainer--payment-secondaryText > span {
      color: #fdecbf; }
  .hero__bottomContainer--payment-pricingText {
    width: 60%;
    font-size: 70%;
    font-weight: 600;
    line-height: 1.2;
    text-decoration: underline !important; }

.hero__bottomContainer--makeups {
  width: 100%;
  left: 20%;
  background-image: url("../img/makeupsBackground.jpg");
  background-size: cover;
  min-height: 450px;
  position: relative;
  margin-bottom: 300px;
  padding-top: 90px;
  border: 1px solid #a37446; }
  @media only screen and (max-width: 64em) {
    .hero__bottomContainer--makeups {
      left: 10%; } }
  @media only screen and (max-width: 48em) {
    .hero__bottomContainer--makeups {
      left: 0; } }
  .hero__bottomContainer--makeups-secondaryText {
    color: #cc9257;
    width: 60%;
    font-size: 70%;
    font-weight: 400;
    line-height: 1.2; }

.hero__bottomContainer--pricing {
  width: 100%;
  left: 20%;
  background-image: url("../img/paymentBackground.jpg");
  background-size: cover;
  min-height: 450px;
  position: relative;
  margin-bottom: 300px;
  padding-top: 90px;
  border: 1px solid #a37446; }
  @media only screen and (max-width: 64em) {
    .hero__bottomContainer--pricing {
      left: 10%; } }
  @media only screen and (max-width: 48em) {
    .hero__bottomContainer--pricing {
      left: 0; } }
  .hero__bottomContainer--pricing-secondaryText {
    color: #cc9257;
    width: 60%;
    font-size: 70%;
    font-weight: 400;
    line-height: 1.2; }
  .hero__bottomContainer--pricing-feesText {
    width: 60%;
    font-size: 80%;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: underline !important; }

.hero__bottomContainer--fees {
  width: 100%;
  left: 20%;
  min-height: 450px;
  position: relative;
  margin-bottom: 300px;
  padding-top: 15px;
  border: 1px solid #a37446; }
  .hero__bottomContainer--fees > h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 15px; }
  @media only screen and (max-width: 64em) {
    .hero__bottomContainer--fees {
      left: 10%; } }
  @media only screen and (max-width: 48em) {
    .hero__bottomContainer--fees {
      left: 0; } }
  .hero__bottomContainer--fees-secondaryText {
    color: #cc9257;
    width: 60%;
    font-size: 70%;
    font-weight: 400;
    line-height: 1.2; }

.hero__bottomContainer--studentperfs {
  background-image: url("../img/studentPerformancesBackground.jpg");
  padding-top: 90px; }

.hero__bottomContainer--ronperfs, .hero__bottomContainer--reviews {
  background-image: url("../img/pianoBackground.jpg");
  padding-top: 40px;
  padding-left: 15px; }

.hero__bottomContainer--studentperfs, .hero__bottomContainer--ronperfs, .hero__bottomContainer--reviews {
  width: 100%;
  left: 20%;
  background-size: cover;
  min-height: 450px;
  position: relative;
  margin-bottom: 300px;
  border: 1px solid #a37446; }
  .hero__bottomContainer--studentperfs > h3, .hero__bottomContainer--ronperfs > h3, .hero__bottomContainer--reviews > h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 15px; }
  @media only screen and (max-width: 64em) {
    .hero__bottomContainer--studentperfs, .hero__bottomContainer--ronperfs, .hero__bottomContainer--reviews {
      left: 10%; } }
  @media only screen and (max-width: 48em) {
    .hero__bottomContainer--studentperfs, .hero__bottomContainer--ronperfs, .hero__bottomContainer--reviews {
      left: 0; } }
  .hero__bottomContainer--studentperfs-secondaryText, .hero__bottomContainer--ronperfs-secondaryText, .hero__bottomContainer--reviews-secondaryText {
    color: #cc9257;
    width: 60%;
    font-size: 70%;
    font-weight: 400;
    line-height: 1.2; }

.mainContainer--map {
  overflow: hidden;
  width: 100%;
  margin-left: 12%; }
  .mainContainer--map > h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 15px; }
  @media only screen and (max-width: 64em) {
    .mainContainer--map {
      margin-left: 8%; } }

.mainContainer--calendarContainer {
  margin-left: 12%;
  position: relative;
  margin-left: 12%;
  position: relative;
  width: 60%;
  background-size: cover;
  margin-bottom: 100px;
  border: 1px solid #a37446;
  padding: 10px; }
  .mainContainer--calendarContainer > h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 15px; }
  @media only screen and (max-width: 64em) {
    .mainContainer--calendarContainer {
      margin-left: 8%;
      width: 80%; } }
  .mainContainer--calendarContainer button {
    margin: 35px 0; }

.mainContainer--calendar {
  margin-bottom: 20px; }
  .mainContainer--calendar-heading {
    font-family: 'Josefin Sans', sans-serif;
    color: #fdecbf;
    font-size: 24px;
    font-weight: 400;
    background-color: #140505;
    width: fit-content;
    padding: 0px 7px 0 0;
    border-radius: 2px;
    margin-bottom: 15px; }

.mainContainer--staticCalendar {
  width: 100%;
  max-width: 800px;
  height: 700px;
  overflow-x: scroll;
  z-index: 100;
  margin: 40px 0;
  padding-top: 25px; }

.mainContainer--upcomingCalendar {
  width: 100%;
  max-width: 800px;
  overflow-x: scroll;
  margin: 40px 0; }

.clickhere {
  display: block; }

.troubleScrolling {
  display: none;
  border: 1px solid goldenrod;
  margin: 5%;
  padding: 3px;
  font-style: italic;
  text-align: center;
  font-size: 14px; }
  .troubleScrolling span {
    font-style: normal;
    font-size: 30px; }

.mainContainer--reviews > h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 28px;
  letter-spacing: 2px;
  margin-bottom: 15px; }

.aboutRecordings {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  position: absolute;
  bottom: 5px;
  font-size: 85%; }
  .aboutRecordings__img {
    height: 160px;
    margin: 10px 30px 10px 15px; }
  .aboutRecordings__text {
    margin-left: 135px;
    width: 300px; }
  .aboutRecordings > ul > li > a {
    margin-left: 0;
    text-decoration: underline; }
  .aboutRecordings > ul > h3 {
    font-style: italic;
    font-weight: 300;
    font-size: 125%; }

.mainContainer__map {
  width: 50%;
  margin-top: 40px;
  margin-bottom: 100px;
  height: 500px; }
  @media only screen and (max-width: 48em) {
    .mainContainer__map {
      width: 80%; } }

.mobileContainer {
  display: none;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/pianoBackgroundMobile.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/pianoBackgroundMobile.jpg");
  background-size: 100% auto;
  background-position: center;
  z-index: 5; }
  @media only screen and (max-width: 48em) {
    .mobileContainer {
      display: block; } }
  .mobileContainer__mainTitle {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/pianoHandsMobile.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/pianoHandsMobile.jpg");
    background-size: cover;
    font-size: 28px;
    font-family: 'entebbe', 'verdana';
    color: #000;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    border-top: 7px double #f7f7f7;
    border-bottom: 7px double #f7f7f7;
    margin: 10px auto;
    text-align: center;
    word-spacing: 3px;
    letter-spacing: 2.5px; }
    .mobileContainer__mainTitle--notFirst {
      margin-top: 50px;
      margin-bottom: 50px; }
  .mobileContainer__top {
    display: flex;
    flex: 2;
    justify-content: space-between;
    font-family: 'BernardoModa', 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 100px; }
    @media only screen and (max-width: 37.5em) {
      .mobileContainer__top {
        font-size: 20px; } }
    .mobileContainer__top > span {
      width: 60%; }
      .mobileContainer__top > span > a:link,
      .mobileContainer__top > span > a:visited {
        border-bottom: .7px solid white;
        padding-bottom: 2.5px; }
      .mobileContainer__top > span > a:hover,
      .mobileContainer__top > span > a:active {
        border-bottom: 0.7px solid #fdecbf;
        text-decoration: none;
        color: #fdecbf; }
    .mobileContainer__top--hamburger {
      color: #fdecbf;
      flex: 1;
      text-align: right;
      position: fixed;
      top: 5%;
      right: 5%;
      z-index: 1000; }
  .mobileContainer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .mobileContainer__bottom--testimonialSyllabus {
      color: #fdecbf;
      padding: 15px; }
      .mobileContainer__bottom--testimonialSyllabus-testimonials {
        margin-bottom: 15px; }
        .mobileContainer__bottom--testimonialSyllabus-testimonials > p {
          margin-bottom: 10px; }
    .mobileContainer__bottom--recordingNav {
      margin-left: 10px;
      height: 100%;
      font-size: 75%; }
    .mobileContainer__bottom--nav {
      display: none;
      flex-flow: column;
      z-index: 10;
      position: fixed;
      right: 3%;
      top: 25%; }
      .mobileContainer__bottom--nav-button {
        background-image: url("../img/buttonNatural.jpg");
        background-size: cover;
        width: 100%;
        text-align: center;
        padding: 8px 12px;
        border: 1px solid #a37446; }
    .mobileContainer__bottom--secondaryNav {
      margin-top: 80px;
      color: #fdecbf; }
    .mobileContainer__bottom--location {
      margin-left: 10px; }
    .mobileContainer__bottom--about {
      margin-left: 10px; }
      .mobileContainer__bottom--aboutRecordings {
        display: flex; }
        .mobileContainer__bottom--aboutRecordings-img {
          height: 160px;
          margin: 35px 30px 10px 15px; }
        .mobileContainer__bottom--aboutRecordings-text {
          margin-top: 35px;
          margin-left: 15px;
          width: 300px; }
        .mobileContainer__bottom--aboutRecordings > ul > li > a {
          margin-left: 0;
          text-decoration: underline; }
        .mobileContainer__bottom--aboutRecordings > ul > h3 {
          font-style: italic;
          font-weight: 300;
          font-size: 125%; }
    .mobileContainer__bottom--contact {
      margin-left: 10px; }
      .mobileContainer__bottom--contact-recordings {
        margin-top: 80px; }
    .mobileContainer__bottom--testimonials-yin {
      margin-left: 10px; }
      .mobileContainer__bottom--testimonials-yin > blockquote {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        color: #fff; }
    .mobileContainer__bottom--testimonials-heidi {
      margin-left: 10px; }
      .mobileContainer__bottom--testimonials-heidi > blockquote {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        color: #fff; }
    .mobileContainer__bottom--specifications-text {
      margin: auto 10px; }
      .mobileContainer__bottom--specifications-text > h1 {
        top: 20px;
        font-family: Script, 'French Script MT', Verdana, sans-serif;
        color: #fdecbf;
        margin-bottom: -35px; }
      .mobileContainer__bottom--specifications-text > p {
        color: #cc9257;
        line-height: 1.2; }
        .mobileContainer__bottom--specifications-text > p > span {
          color: #fdecbf; }
    .mobileContainer__bottom--policies {
      margin-left: 10px;
      color: #fdecbf; }
    .mobileContainer__bottom--payment-pricingText:link, .mobileContainer__bottom--payment-pricingText:visited {
      text-decoration: underline;
      color: #fdecbf; }
    .mobileContainer__bottom--pricing-feesText:link, .mobileContainer__bottom--pricing-feesText:visited {
      text-decoration: underline;
      color: #fdecbf; }
    .mobileContainer__bottom--reviews {
      color: #fdecbf; }
